button{
    width: 120px;
   border-radius: 5px;
  border: none;

}
input{
    border: 1px solid #ffffff;
    border-radius: 5px ;
}

.bg-transparent{
    border: 1px solid gray;
}

nav{
    position: fixed;
    width: 100vw;
    background-color:#111;
    top: 0;
    z-index: 100000;
}